.gradient-custom {
    /* fallback for old browsers */
    background: #089bab;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, #089bab, #089bab);
    
    // /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background: linear-gradient(to bottom right, #fdfdfd, rgb(253, 253, 253))
    }
    
    .mask-custom {
    background: #A2DBFA;
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    }