<!-- Sidebar  -->
<div >
    <div class="iq-sidebar-logo d-flex justify-content-between">
        <a routerLink="">
            <img src="assets/images/elearning.png" class="img-fluid" alt="">
            <span>Elearning</span>
        </a>
        <div class="iq-menu-bt-sidebar">
            <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                    <div class="main-circle"><i class="ri-more-fill"></i></div>
                    <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebar-scrollbar">
        <nav class="iq-sidebar-menu">
            <ul class="iq-menu">
                <li class="iq-menu-title"><i class="ri-subtract-line"></i><span></span></li>
                <li class="active">
                    <a routerLink="/404" class="iq-waves-effect">
                        <i class="ri-hospital-fill"></i>
                        <span>Acceuil</span>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:void(0);" class="iq-waves-effect">
                        <i class="ri-mail-open-fill"></i>
                              <span>s'authentifier</span>
                        <i class="ri-arrow-right-s-line iq-arrow-right"></i>
                    </a>
                    <ul class="iq-submenu">
                        <li><a routerLink="/login"><i class="ri-inbox-fa "></i>Se connecter</a></li>
                        <li><a routerLink="/register"><i class="ri-edit-2-fill"></i>S'enregistrer</a></li>
                    </ul>
                </li>
                <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Apps</span></li>
                <li>
                    <a routerLink="javascript:void(0);" class="iq-waves-effect"><i
                            class="ri-mail-open-fill"></i><span>Email</span><i
                            class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul class="iq-submenu">
                        <li><a routerLink="app//404"><i class="ri-inbox-fill"></i>Inbox</a></li>
                        <li><a routerLink="app/email-compose.html"><i class="ri-edit-2-fill"></i>Email Compose</a></li>
                    </ul>
                </li>

                <li>
                    <a routerLink="javascript:void(0);" class="iq-waves-effect"><i
                            class="ri-user-3-fill"></i><span>Orientaion</span><i
                            class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul class="iq-submenu">
                        <li><a routerLink="/bac"><i class="ri-file-list-fill"></i>Baccaleauréat</a></li>
                        <li><a routerLink="/licence"><i class="ri-user-add-fill"></i>Licences</a></li>
                        <li><a routerLink="/master"><i class="ri-profile-fill"></i>Master</a></li>
                        <li><a routerLink="/ingeneurie"><i class="ri-file-edit-fill"></i>ingéneurie</a></li>
                        <li><a routerLink="/doctorat"><i class="ri-file-edit-fill"></i>Doctorat</a></li>
                    </ul>
                </li>
                <li><a routerLink="/calendar" class="iq-waves-effect"><i
                            class="ri-calendar-event-fill"></i><span>Calendar</span></a></li>

                <li>
                    <a routerLink="/chat" class="iq-waves-effect">
                        <i class="ri-message-fill"></i>
                        <span>Chat</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/contactus" class="iq-waves-effect">
                        <i class="ri-message-fill"></i>
                        <span>Contact us</span>
                    </a>
                </li>


              
            </ul>
        </nav>
        <div class="p-3"></div>
    </div>
</div>