<div class="wrapper">
    <hospital-sidenav class="iq-sidebar" />
        <div id="content-page" class="content-page">
            <table>
                <thead>
                    <tr>
                        <th>filière</th>
                        <th>Document</th>
                        <th>télécharger document</th>
                      
                    </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                        
                    </tr>
                
                </tbody>
            </table>
    <hospital-navbar />
        </div>
    </div>