.btn {
    color: #ffffff; /* Couleur du texte */
    background-color:#0fc0df;
    border: 2px solid #0fc0df; 
    padding: 15px 25px; /* Ajoute du rembourrage - réduit la hauteur */
    font-size: 20px; /* Taille de la police */
    border-radius: 40px; /* Arrondi les coins */
    cursor: pointer; /* Affiche un curseur au survol */
    transition: background-color 0.3s ease; /* Animation au survol */
    margin-left: 400px;
    margin-top: 150px;
    transition: 1s;
    animation: blinkAnimation 2s infinite; /* Utilisation de l'animation blinkAnimation avec une durée de 2 secondes, en boucle */
}
@keyframes blinkAnimation {
    0% {
      opacity: 1; /* Opacité initiale du bouton (entièrement visible) */
    }
    50% {
      opacity: 0.8; /* Opacité réduite  (bouton invisible) */
      background-color: rgb(255, 255, 255);
      color: #0fc0df;
    }
    100% {
      opacity: 1; /* Opacité restaurée à 1 (bouton à nouveau visible) */
    }
  }
  